.button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 20px;
}
