.sell {
  display: flex;
  align-items: center;
  //   justify-content: center;
  background-color: antiquewhite;
  margin: 20px;
  img {
    width: 700px;
    height: 500px;
  }

  .sell-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px;

    .file-upload {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 20 px;
      gap: 5px;
    }
    .form-wrapper {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          cursor: pointer;
        }
      }
      .input {
        width: 300px;
      }
      .select {
        display: flex;
        flex-direction: column;
        gap: 5px;
        select {
          border: none;
          padding: 10px;
          border: 1px solid var(--light-gray);
        }
        option {
          border: none;
          padding: 10px;
        }
      }
    }
    .button {
      width: max-content;
    }
  }
}
