.houseInfo {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  .house-info-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-gray);
    img {
      height: 300px;
      border-radius: 10px;
    }
    .name-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        font-weight: bold;
        font-size: 30px;
      }
      .price {
        font-size: 30px;
        font-weight: 600;
        color: green;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 2px 0px;
    }

    .location {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 600;
    }
    .features {
      .amenities {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(128, 128, 128, 0.241);
          padding: 10px 20px;
          border-radius: 7px;
          gap: 7px;
        }
      }
    }
    .icon {
      color: var(--primary-color);
    }
  }

  .agent-contact {
    background-color: rgba(239, 239, 208, 0.393);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    .agent-info {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;
      }
      .contact-info {
        .name {
          font-weight: 800;
          font-size: 20px;
        }
        .phone {
          font-weight: 600;
        }
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .button {
        width: max-content;
      }
    }
  }
}
