.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: aliceblue;
  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
  }
  .filter {
    display: flex;
    gap: 20px;

    align-items: flex-end;

    .filter-wrapper {
      width: 200px;
      display: flex;
      flex-direction: column;
      label {
        font-size: 16px;
        font-weight: 600;
        margin: 5px;
      }
      input,
      select {
        border: none;
        border: 1px solid var(--light-gray);
        border-radius: 5px;
        padding: 5px;
      }
    }

    .search {
      background-color: rgb(28, 164, 13);
      color: white;
    }
    .reset {
      background-color: white;
      color: red;
      border: 1px solid crimson;
    }
  }
}
