.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 0.538);
  border-radius: 10px;
  margin: 20px;
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  .icon {
    color: var(--primary-color);
  }
  .image {
    position: relative;
    img {
      border-radius: 10px 10px 0px 0px;
      width: 400px;
    }
    .price {
      background-color: var(--primary-color);
      font-weight: 600;
      width: max-content;
      color: white;
      padding: 10px;
      border-radius: 0px 10px 10px 0px;
      position: absolute;
      bottom: 20px;
    }
  }
  .description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .name {
      font-weight: 800;
      font-size: 22px;
    }
    .about {
      font-size: 14px;
    }
    .location {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      font-weight: 600;
    }
    .other-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      //   gap: 10px;

      .line {
        border-left: 1px solid var(--light-gray);
        height: 20px;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
