.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(198, 198, 198, 0.223);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--light-gray);
  .left {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .name {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      font-weight: bold;
    }

    .tabs {
      font-weight: 600;
      font-size: 18px;
      padding: 5px 10px;
      color: var(--primary-color);
      &:hover {
        border-radius: 5px;
        background-color: var(--light-gray);
        border-bottom: 2px solid var(--primary-color);
      }
    }
  }
  .right {
    display: flex;
    gap: 20px;
    .login,
    .signup {
      border: 1px solid var(--primary-color);
      font-weight: bold;
    }
    .signup {
      background-color: var(--primary-color);
      color: white;
    }
    .login {
      background-color: white;
      color: black;
    }
  }
}
